.aside-item.sidebar-category {
    margin-bottom: 20px
}

@media (max-width: 991px) {
    .aside-item.sidebar-category {
        margin-bottom:20px
    }
}

.aside-item.sidebar-category .nav-item {
    position: relative;
    clear: left;
    font-size: 14px;
    padding: 10px 0px 5px 0px;
    border-bottom: none
}

.aside-item.sidebar-category .nav-item a {
    font-size: 14px;
    font-weight: 400;
    padding-right: 15px;
    padding-left: 0;
    padding-top: 0
}

.aside-item.sidebar-category .nav-item a .count_x {
    color: #acacac
}

.aside-item.sidebar-category .nav-item .count_blog {
    color: #acacac
}

.aside-item.sidebar-category .nav-item .fa {
    position: absolute;
    right: -13px;
    top: 10px
}

.aside-item.sidebar-category .nav-item .dropdown-menu {
    width: 100%;
    border: 0;
    padding-left: 15px;
    box-shadow: none;
    background: none
}

.aside-item.sidebar-category .nav-item.active>a {
    color: #bf9f70
}

.aside-item.sidebar-category .nav-item.active>.dropdown-menu {
    display: block
}

.sidebar-category .aside-content {
    margin-top: 0
}

.sidebar-category .aside-content .nav-category .navbar-pills {
    padding: 0 0px;
    z-index: 1
}

.sidebar-category .aside-content .nav-item {
    position: relative;
    clear: left;
    font-size: em(14px);
    padding: 0
}

.sidebar-category .aside-content .nav-item.lv2 {
    padding: 0px
}

.sidebar-category .aside-content .nav-item.lv2 a {
    padding-left: 20px !important;
    padding-right: 30px
}

.sidebar-category .aside-content .nav-item.lv2 .fa {
    right: 0px
}

.sidebar-category .aside-content .nav-item.lv3 {
    padding: 0px
}

.sidebar-category .aside-content .nav-item.lv3 a {
    padding-left: 45px !important
}

.sidebar-category .aside-content .nav-item.lv4 {
    padding: 0
}

.sidebar-category .aside-content .nav-item.lv4 a {
    padding-left: 50px !important
}

.sidebar-category .aside-content .nav-item:last-child {
    border-bottom: none
}

.sidebar-category .aside-content .nav-item a {
    font-size: 14px;
    color: #231f20;
    font-weight: 400;
    line-height: 1.7;
    padding: 5px 20px 2px 0px
}

.sidebar-category .aside-content .nav-item .fa {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 0px;
    line-height: 34px;
    cursor: pointer;
    text-align: center;
    top: 0px;
    right: 0px
}

.sidebar-category .aside-content .nav-item .fa.fa-caret-right {
    right: auto;
    left: 0;
    top: 16px;
    text-align: left
}

.sidebar-category .aside-content .nav-item .dropdown-menu {
    width: 100%;
    border: 0;
    padding-left: 0px;
    box-shadow: none;
    margin-top: 0px;
    padding: 0px;
    position: static;
    background: none
}

.sidebar-category .aside-content .nav-item.active>a {
    color: #bf9f70
}

.sidebar-category .aside-content .nav-item.active>.fa {
    color: #bf9f70
}

.sidebar-category .aside-content .nav-item.active>.dropdown-menu {
    display: block
}

.sidebar-category .aside-content .nav-item:hover>a {
    color: #bf9f70;
    background-color: transparent
}

.sidebar-category .aside-content .nav-item ul>li:before {
    top: 17px;
    left: 15px
}

.sidebar-category .aside-content .nav-item ul>li.lv3:before {
    left: 30px
}

.sidebar-category .aside-content .nav-item ul>li.lv4:before {
    left: 30px
}

.filter-container__selected-filter {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 30px
}

.filter-container__selected-filter .filter-container__selected-filter-header {
    margin-bottom: 10px
}

.filter-container__selected-filter .filter-container__selected-filter-header-title {
    color: #bf9f70
}

.filter-container__selected-filter .filter-container__clear-all {
    float: right
}

.filter-container__selected-filter-list ul {
    padding-left: 0px;
    margin: 0
}

.filter-container__selected-filter-list ul li {
    display: inline-block;
    float: left;
    margin-right: 4px;
    border-radius: 3px;
    background: #bf9f70;
    color: #fff;
    padding: 0 7px;
    margin-bottom: 4px
}

.filter-container__selected-filter-list ul li a {
    color: #fff
}

.filter-container__selected-filter-list ul li a .fa {
    background-image: url(//bizweb.dktcdn.net/100/488/726/themes/911609/assets/icon-filter-close-bg.png?1693455942389);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    background-size: contain;
    display: inline-block
}

.aside-item {
    margin-right: 0px;
    position: relative;
    float: left;
    width: 100%
}

.aside-item:last-child {
    margin-right: 0px
}

.aside-item .aside-title {
    position: relative;
    border-radius: 0px;
    padding: 0 0
}

.aside-item .aside-title h2 {
    width: 100%;
    font-size: 16px !important;
    margin: 0;
    text-transform: none;
    font-weight: 700;
    display: inline-block;
    padding: 0px;
    position: relative;
    color: #231f20;
    text-transform: uppercase
}

.aside-item .aside-content {
    padding: 0px 0px 0;
    border-top: none;
    border-radius: 0px
}

.aside-item .aside-content ul {
    padding-left: 0px
}

.aside-item .aside-content {
    width: 100%;
    z-index: 99;
    position: relative
}

.aside-item.active .aside-content {
    display: block
}

@media (max-width: 1199px) {
    .aside-item {
        width:220px
    }
}

.aside-item.collection-category {
    padding-left: 0px
}

.aside-item.collection-category .nav-item {
    position: relative;
    clear: left;
    font-size: 14px;
    padding: 0px;
    width: 100%;
    float: left
}

.aside-item.collection-category .nav-item.active>a,.aside-item.collection-category .nav-item:hover>a {
    color: #bf9f70 !important
}

.aside-item.collection-category .nav-item.active>a span,.aside-item.collection-category .nav-item:hover>a span {
    color: #bf9f70
}

.aside-item.collection-category .nav-item:last-child {
    box-shadow: none
}

.aside-item.collection-category .nav-item:last-child a {
    border-bottom: 0px
}

.aside-item.collection-category .nav-item a {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #231f20;
    padding: 10px 0px;
    position: relative
}

@media (min-width: 992px) and (max-width: 1199px) {
    .aside-item.collection-category .nav-item a {
        font-size:14px
    }
}

.aside-item.collection-category .nav-item a span {
    font-size: 14px;
    font-weight: 400;
    color: #acacac
}

.aside-item.collection-category .nav-item em {
    font-size: 14px;
    font-weight: 400;
    color: #b7b7b7;
    font-style: normal;
    margin-left: 5px
}

.aside-item.collection-category .nav-item span {
    font-size: 14px;
    font-weight: 400;
    color: #b7b7b7;
    font-style: normal;
    margin-left: 5px
}

.aside-item.collection-category .nav-item .fa {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 25px;
    padding: 5px;
    line-height: 23px;
    color: #231f20;
    font-size: 12px
}

.aside-item.collection-category .nav-item .dropdown-menu {
    position: static;
    width: 100%;
    border: 0;
    padding-left: 0px;
    box-shadow: none;
    padding: 0px
}

.aside-item.collection-category .nav-item .dropdown-menu .lv2 {
    border: none
}

.aside-item.collection-category .nav-item .dropdown-menu .lv2 .fa {
    position: absolute;
    right: 0px !important;
    top: 0;
    width: 25px;
    padding: 5px;
    line-height: 30px
}

.aside-item.collection-category .nav-item .dropdown-menu .lv2:hover:before,.aside-item.collection-category .nav-item .dropdown-menu .lv2.active:before {
    border-color: #bf9f70
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item {
    padding: 0px;
    border: none
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item>a {
    padding: 10px 24px 7px 30px;
    line-height: 20px;
    border-bottom: solid 0px #ebebeb
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item>a:before {
    content: "\f105";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 17px;
    top: 10px;
    background-image: none
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item .fa {
    position: absolute;
    right: -8px;
    top: 2px;
    width: 25px;
    padding: 5px;
    line-height: 25px
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item:hover {
    border-top-color: #fff;
    border-bottom-color: #fff;
    background-color: unset
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item:last-child {
    border-bottom: solid 0px #ebebeb
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item .dropdown-menu {
    margin-top: 0px
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item.lv3 {
    padding: 0px
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item.lv3 a {
    line-height: 20px;
    padding: 10px 24px 7px 40px;
    border-bottom: 0px;
    border-top: 0px
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item.lv3 a:before {
    left: 28px
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item.lv3:last-child {
    border-top: solid 0px #ebebeb
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item.lv3:last-child a {
    border-bottom: 0px
}

.aside-item.collection-category .nav-item .dropdown-menu .nav-item.lv3:hover:before,.aside-item.collection-category .nav-item .dropdown-menu .nav-item.lv3.active:before {
    border-color: #bf9f70
}

.aside-item.collection-category .nav-item:hover {
    border-top-color: #ddd;
    border-bottom-color: #ddd
}

.aside-item.collection-category .nav-item:hover:before {
    border-color: #bf9f70
}

.aside-item.collection-category .nav-item:hover>a {
    color: #bf9f70;
    text-decoration: none
}

.aside-item.collection-category .nav-item:hover>em {
    color: #bf9f70
}

.aside-item.collection-category .nav-item:hover>.fa {
    color: #bf9f70
}

.aside-item.collection-category .nav-item:hover span {
    color: #bf9f70
}

.aside-item.collection-category .nav-item.active:before {
    border-color: #bf9f70
}

.aside-item.collection-category .nav-item.active>.dropdown-menu {
    border-radius: 0px
}

.aside-item.collection-category .nav-item.active>a {
    color: hover
}

.aside-item.collection-category .nav-item.active em {
    color: #bf9f70
}

.aside-item.collection-category .nav-item.active>.fa {
    color: #bf9f70
}

.aside-item.collection-category .nav-item.active>.dropdown-menu {
    display: block
}

.aside-item.collection-category .nav-item.active span {
    color: #bf9f70
}

.aside-item.collection-category .nav-item.active>.fa:before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900
}

.aside-item.collection-category .nav-item:hover>a,.aside-item.collection-category .nav-item:hover em {
    color: #bf9f70;
    background-color: unset
}

.aside-item.collection-category .nav-item:hover>.fa {
    color: #bf9f70
}

.aside-item.collection-category .nav-item .dropdown-menu li:hover>a {
    color: #bf9f70;
    background-color: unset
}

.aside-item.collection-category .nav-item .dropdown-menu li:hover>.fa {
    color: #bf9f70
}

.aside-item.collection-category .nav>li>a {
    padding: 0px 30px 15px 0px
}

.aside-item .nav>li>a:focus {
    background: none
}

.aside-item .list-tags span.tag-item {
    line-height: 30px;
    border: 1px solid #ebebeb;
    height: 30px;
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    color: #898989;
    border-radius: 0px
}

.aside-item .list-tags span.tag-item:hover {
    color: #fff;
    background: #bf9f70;
    border-color: #bf9f70
}

.aside-item .list-tags span.tag-item:hover a {
    color: #fff
}

.title_filter {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 40px;
    line-height: 34px
}

@media (max-width: 991px) {
    .title_filter {
        margin-bottom:10px
    }
}

.aside-filter {
    background: transparent;
    margin-bottom: 20px
}

.aside-filter .aside-item {
    margin-bottom: 20px
}

.aside-filter .aside-item .field-search {
    margin-bottom: 10px;
    position: relative
}

.aside-filter .aside-item:last-child {
    margin-bottom: 0;
    border: none
}

.aside-filter .aside-item:last-child .aside-content {
    margin-bottom: 0
}

.aside-filter .aside-item .form-group .form-control {
    min-height: 40px;
    height: 40px
}

.aside-filter .aside-item .input-group-btn {
    position: static
}

.aside-filter .aside-item .input-group-btn button {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    background: #bf9f70;
    color: #fff;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}

.aside-filter .filter-container {
    margin-bottom: 0px
}

.aside-filter .aside-item .aside-title:after {
    display: none
}

.ui-widget.ui-widget-content {
    height: 4px;
    background: #ebebeb
}

.ui-slider-range.ui-corner-all.ui-widget-header {
    background: #bf9f70 !important
}

.ui-slider-horizontal .ui-slider-handle {
    height: 18px !important;
    width: 18px !important;
    border-radius: 50% !important;
    top: -7px !important;
    border: none !important;
    background: #bf9f70 !important;
    border: solid 2px #ebebeb !important
}

.ui-widget.ui-widget-content {
    border: none !important;
    margin-bottom: 10px;
    width: calc(100% - 14px);
    margin-left: 7px
}

#start {
    width: 45%;
    float: left;
    margin-right: 2.5%
}

#start input {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    border-radius: 3px;
    border: 0px solid #e1e1e1;
    box-shadow: none;
    background: transparent
}

#stop {
    width: 45%;
    float: right;
    margin-left: 2.5%;
    text-align: right;
    position: relative
}

#stop input {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    border-radius: 3px;
    border: 0px solid #e1e1e1;
    box-shadow: none;
    background: transparent
}

a#filter-value {
    height: 30px;
    line-height: 30px;
    font-weight: 400;
    width: 100px;
    margin-top: 15px
}














.bodywrap {
    background: #f5f5f5
}

.dqdt-sidebar .aside-cate {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(19,28,25,0.1);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px
}

.dqdt-sidebar .aside-cate .title-head {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #D8D5D5;
    color: #303030;
    padding-bottom: 5px;
    position: relative
}

.dqdt-sidebar .aside-cate .title-head:before {
    content: "";
    width: 66px;
    height: 2px;
    background: linear-gradient(180deg, #EB3349 0%, #F45C43 100%);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -1px
}

.dqdt-sidebar .aside-cate .nav-category ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.dqdt-sidebar .aside-cate .nav-category ul .nav-item .nav-link {
    display: block;
    padding: 5px 0;
    font-size: 14px
}

.dqdt-sidebar .aside-cate .nav-category ul .nav-item .nav-link.pr-5 {
    padding-right: 30px
}

.dqdt-sidebar .aside-cate .nav-category ul .nav-item.active>.nav-link {
    color: #bf9f70
}

.dqdt-sidebar .aside-cate .nav-category ul .menu_down {
    padding-left: 10px !important
}

.dqdt-sidebar .aside-cate .nav-category ul .down_icon {
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    transition: 0.5s all;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center
}

.dqdt-sidebar .aside-cate .nav-category ul .down_icon:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #59646a transparent transparent transparent;
    transition: border-color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s
}

.dqdt-sidebar .aside-cate .nav-category ul .down_icon.cls_mn {
    transform: rotate(180deg)
}

.opacity_sidebar {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0 !important;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    display: none
}

.opacity_sidebar.openf {
    display: block
}

.title-page {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold
}

.category-products {
    margin-top: 20px
}

.category-products .products-view .item_product_main {
    margin-bottom: 0px;
    height: 100%
}

.category-products .products-view .margin {
    margin-right: -10px;
    margin-left: -10px
}

.category-products .products-view .margin .padding {
    padding: 0 10px
}

@media (max-width: 991px) {
    .dqdt-sidebar {
        position:fixed;
        width: 256px;
        background: #fff;
        top: 0 !important;
        bottom: 0;
        right: 0;
        padding: 15px;
        overflow: auto;
        z-index: 100000;
        visibility: hidden;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        border-radius: 0;
        border: initial
    }

    .dqdt-sidebar.openf {
        visibility: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
}

.dqdt-sidebar .aside-filter {
    position: sticky;
    top: 0
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #f7f8fa
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container::-webkit-scrollbar {
    width: 6px
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #e0e0e0
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .aside-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 30px
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .aside-item:last-child {
    border-bottom: none
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #303030;
    padding-bottom: 5px;
    position: relative
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title .nd-svg {
    width: 30px;
    height: 20px;
    top: 0;
    right: 0;
    transition: 0.5s all;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title .nd-svg:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #59646a transparent transparent transparent;
    transition: border-color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title.active .nd-svg {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -os-transform: rotate(180deg)
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-content {
    margin-top: 10px
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-content ul li label {
    font-size: 13px;
    color: #333
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-content ul li label:hover {
    color: #bf9f70
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-content ul li label:hover input+.fa:before {
    border-color: #bf9f70
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-size .aside-content ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2.5px
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-size .aside-content ul .filter-item {
    padding: 0 2.5px
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-size .aside-content ul .filter-item span.span-tag {
    display: flex;
    border: solid 1px #E7E7E7;
    height: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #000
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-size .aside-content ul .filter-item--check-box input:checked+.span-tag {
    color: #bf9f70;
    border-color: #bf9f70
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-size .aside-content ul .filter-item--check-box:hover .span-tag {
    color: #bf9f70;
    border-color: #bf9f70
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-start .aside-content ul li label[for] {
    position: relative
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-start .aside-content ul li label[for]:before {
    content: "";
    background-repeat: no-repeat;
    width: 93px;
    height: 17px;
    display: block;
    background-size: contain;
    position: absolute;
    position: absolute;
    top: 1px;
    left: 20px
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-start .aside-content ul li label[for] .span-tag {
    display: none
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-start .aside-content ul li label[for=filter-5-sao]:before {
    background-image: url(//bizweb.dktcdn.net/100/488/726/themes/911609/assets/5-sao.svg?1693455942389)
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-start .aside-content ul li label[for=filter-4-sao]:before {
    background-image: url(//bizweb.dktcdn.net/100/488/726/themes/911609/assets/4-sao.svg?1693455942389)
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-start .aside-content ul li label[for=filter-3-sao]:before {
    background-image: url(//bizweb.dktcdn.net/100/488/726/themes/911609/assets/3-sao.svg?1693455942389)
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-start .aside-content ul li label[for=filter-2-sao]:before {
    background-image: url(//bizweb.dktcdn.net/100/488/726/themes/911609/assets/2-sao.svg?1693455942389)
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .tag-start .aside-content ul li label[for=filter-1-sao]:before {
    background-image: url(//bizweb.dktcdn.net/100/488/726/themes/911609/assets/1-sao.svg?1693455942389)
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .filter-sort ul li {
    margin-bottom: 5px
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .filter-sort ul li a {
    font-size: 13px;
    color: #333;
    display: block
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .filter-sort ul li a i {
    height: 11px !important;
    width: 11px;
    border: solid 1px #E7E7E7;
    display: inline-block;
    margin-right: 10px;
    border-radius: 100%;
    top: 1px;
    position: relative
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .filter-sort ul li.active a i {
    background: #bf9f70;
    border-color: #bf9f70
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .filter-sort ul li:hover a {
    color: #bf9f70
}

.dqdt-sidebar .aside-filter .aside-hidden-mobile .filter-container .filter-sort ul li:hover a i {
    border-color: #bf9f70
}

.cate-content {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px
}

.fix-nof {
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px
}

.filter-container {
    margin-bottom: 0px
}

@media (max-width: 767px) {
    .filter-container {
        padding:0
    }
}

.filter-group {
    margin-bottom: 0px
}

.filter-group ul {
    max-height: 290px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none
}

.filter-group ul::-webkit-scrollbar {
    width: 2px;
    background: #E5E5E5;
    border-radius: 38px
}

.filter-group ul::-webkit-scrollbar-thumb {
    background: #997d55
}

.filter-group-title {
    display: block;
    font-size: em(18px);
    margin-bottom: 10px
}

.filter-item {
    margin: 0;
    cursor: pointer
}

.filter-item * {
    color: #6c757d;
    cursor: pointer;
    font-size: em(14px);
    font-weight: normal
}

.filter-item.color {
    min-width: 20px;
    display: inline-block
}

.filter-item.color a,.filter-item.color label {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 0
}

.filter-item.color .fa {
    width: 24px;
    height: 24px;
    background: #333;
    border-radius: 50%;
    position: relative
}

.filter-item.color .fa:before {
    display: none
}

.filter-item.color input:checked+.fa:before {
    display: block;
    content: "";
    width: 10px;
    height: 10px !important;
    position: absolute;
    left: 7px;
    top: 7px;
    border: initial;
    border-radius: 50%;
    background-size: cover;
    background-image: url(//bizweb.dktcdn.net/100/488/726/themes/911609/assets/check-symbol.svg?1693455942389);
    background-color: initial !important
}

.filter-item.color input:checked+.fa.trang:before {
    background-image: url(//bizweb.dktcdn.net/100/488/726/themes/911609/assets/check-symbol-black.png?1693455942389)
}

.filter-item--green *:hover {
    color: #bf9f70
}

.filter-item--green *:hover input+.fa:before {
    border-color: #bf9f70
}

.filter-item--check-box input {
    display: none
}

.filter-item--check-box .fa {
    margin-right: 4px;
    width: 14px;
    position: relative;
    display: inline-block
}

.filter-item--check-box input+.fa:before {
    content: "";
    margin-right: 5px;
    font-size: 18px;
    border: solid 1px #E5E5E5;
    line-height: 40px;
    position: absolute;
    top: -10px;
    height: 12px !important;
    width: 12px;
    border-radius: 2px
}

.filter-item--check-box input:checked+.fa:after {
    content: "";
    color: #fff;
    position: absolute;
    width: 11px;
    height: 11px;
    line-height: 9px;
    top: -8px;
    font-size: 12px;
    left: 0
}

.filter-item--check-box input:checked+.fa:before {
    border-color: #000;
    background: #000
}

.aside-banner {
    margin-top: 20px
}

.aside-banner a {
    display: block;
    overflow: hidden
}

.aside-banner a img {
    transition: all 0.5s
}

.aside-banner a:hover img {
    transform: scale(1.05)
}

.sortPagiBar {
    margin-left: auto;
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .sortPagiBar {
        position:initial;
        margin-bottom: 20px
    }
}

.sortPagiBar #sort-by {
    position: relative
}

.sortPagiBar #sort-by label {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px
}

.sortPagiBar #sort-by .ul_col {
    position: relative;
    margin-left: 15px;
    background: #fff;
    width: 130px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    cursor: pointer;
    background-image: url(//bizweb.dktcdn.net/100/488/726/themes/911609/assets/arrow_down.svg?1693455942389);
    background-repeat: no-repeat;
    background-position: right 10px center;
    list-style: none;
    margin-bottom: 0
}

.sortPagiBar #sort-by .ul_col .content_ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 99;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    display: none
}

.sortPagiBar #sort-by .ul_col .content_ul ul li {
    display: block
}

.sortPagiBar #sort-by .ul_col:hover .content_ul {
    display: block
}

@media (max-width: 991px) {
    .dqdt-sidebar {
        padding:0 15px;
        position: fixed;
        width: 256px;
        background: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        overflow-y: auto;
        z-index: 9999;
        visibility: hidden;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        padding-top: 10px
    }

    .dqdt-sidebar.openf {
        visibility: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }

    #open-filters {
        color: #fff;
        background: #bf9f70;
        position: fixed;
        right: 0;
        top: 35% !important;
        cursor: pointer;
        z-index: 99;
        font-size: 18px;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        background-image: url("//bizweb.dktcdn.net/100/488/726/themes/911609/assets/icon-filter-bg.png?1693455942389");
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px
    }

    #open-filters .fa:before {
        display: none
    }

    #open-filters.openf {
        right: 256px;
        z-index: 9999;
        background-image: url("//bizweb.dktcdn.net/100/488/726/themes/911609/assets/icon-filter-close-bg.png?1693455942389")
    }

    #open-filters span {
        display: none
    }
}


