.page {
    padding-bottom:60px
  }
  .page .title-head {
    font-size:24px;
    color:#333;
    font-weight:bold;
    text-decoration:none;
    margin-bottom:20px
  }
  .content-page {
    min-height:400px
  }
  .content-page ul,
  .content-page ol {
    padding-left:20px;
    list-style:disc;
    margin-bottom:20px
  }
  .content-page h2 {
    font-size:22px
  }
  .content-page h3 {
    font-size:20px
  }
  .content-page h4 {
    font-size:18px
  }
  .content-page h5 {
    font-size:16px
  }
  .content-page p {
    margin-bottom:10px
  }
  